*{
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    background-color: #14151F;
}
canvas{
    border-bottom: 1px solid white;
    border-left: 1px solid white;
    border-right: 1px solid white;
}